@use "base";

.similar-cards-list {
    > :first-child {
        border-top: 1px solid base.$border-color;
    }

    > a {
        color: base.$text;

        display: flex;
        gap: 0.5rem;
        align-items: center;

        > :nth-child(1) {
            width: 15%;
        }

        > :nth-child(2) {
            width: 10%;
        }

        > :nth-child(3) {
            width: 25%;
        }

        > :nth-child(4) {
            width: 50%;
            opacity: 40%;
        }

        &:hover {
            background-color: base.$background-color;
        }

        border-bottom: 1px solid base.$border-color;
        padding: 0.5rem;

        font-size: 14px;
    }
}
