@use "base";

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

.card-image {
    img {
        @include base.border;
        border-radius: 4.5%;

        // Hard coded card size to prevent layout shift
        width: 24rem;
        height: 537.083px;

        //background-color: base.$background-hover;
        background-image: url("../../public/static/card-back.png");
        background-size: contain;
    }
}

.card-info-box {
    display: flex;
    gap: 2rem;

    padding: 2rem;
    margin-top: 1.5rem;

    background-color: base.$dark-0;
    border: 1px solid base.$border-color;
    border-left-width: 0px;
    border-radius: 0 0.5rem 0.5rem 0;
}

.card-info {
    font-size: 16px;
    width: 20rem;

    h1 {
        font-size: 22px;
        font-weight: 700;
        margin-top: 0;
    }

    i {
        color: base.$text-60;
    }

    > div {
        > a {
            font-size: 14px;
            background: base.$dark-100;
            border-radius: 0.5rem;
            margin-right: 0.5rem;

            @include base.border;
            @include base.padding-y(0.25rem);
            @include base.padding-x(1rem);
            @include base.hover {
                background-color: base.$dark-200;
            }
        }

        margin-top: 1.5rem;
    }
}

.card-legality-table {
    width: 15rem;

    $banned: #e49977;
    $not-legal: #cac5c0;
    $legal: #a3c095;
    $restricted: #c1d7e9;

    .banned {
        background-color: #d78dd2;
    }

    .not-legal {
        background-color: #b999ee;
    }

    .legal {
        background-color: #9da5e9;
    }

    .restricted {
        background-color: #8fa9f0;
    }

    > div {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;

        > :first-child {
            width: 50%;
        }

        > :nth-child(2) {
            color: base.$dark-base;

            width: 40%;
            border-radius: 0.25rem;
            text-align: center;
            font-size: 13px;
            font-weight: 700;

            @include base.padding-y(0.2rem);
        }
    }
}

.stacked-card-images-test {
    display: grid;

    > div {
        grid-row: 1;
        grid-column: 1;
    }

    :nth-child(2) {
        margin-left: -4rem;
        margin-right: 4rem;
        margin-top: 8rem;

        > a > img:hover {
            @include base.border(#9da5e9);
            transition: border 0.3s ease;
        }
    }

    > a {
        margin: auto;
        background: base.$dark-100;
        border-radius: 0.5rem;

        @include base.border;
        @include base.padding-y(0.25rem);
        @include base.padding-x(1.5rem);
        @include base.hover {
            background-color: base.$dark-200;
        }
    }

    > p {
        font-size: 14px;
        width: 24rem;
        color: base.$text-60;
        text-align: center;
    }
}
