@use "base";

.Footer {
    max-width: 25rem;

    @include base.margin-y(60px);

    font-size: 12px;
    color: base.$text-60;
}

.Header {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    > div {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;

        // FIXME: should text elements default to no margin?
        margin: 0;
        margin-right: 0.75rem;

        @include base.hover {
            color: base.$dark-1100;
        }
    }
}

.badge {
    background: linear-gradient(to right, #d78dd2, #b999ee, #9da5e9, #8fa9f0);

    color: base.$dark-base;
    font-weight: 500;
    border-radius: 0.5rem;

    @include base.padding-y(0.15rem);
    @include base.padding-x(0.75rem);
}
