# Magic
oracle-cards-*
*.gz
cards*.json
.cache

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Python
__pycache__
*.pt
env

# Version info
version.json

# OCaml
_build
